
{{ define "main" }}
  <div class="main" role="main">
    <article class="article">
      {{ with .Params.image }}<img src="{{ . }}" class="article-image" />{{ end }}
      {{ with .Params.series }}<p class="article-title-series"><a href="{{ "/" | relURL }}series/{{ index . 0 | urlize }}/">{{ index . 0 }}</a>&nbsp;/</p>{{ end }}
      <h1 class="article-title">{{ .Title }}</h1>
      {{ with .Params.subtitle }}<h2 class="article-subtitle">{{ . }}</h2>{{ end }}
      <hr class="article-title-bottom">
      <ul class="article-meta">
        <li class="article-meta-date"><time>{{ .Date.Format (default "January 2, 2006" $.Site.Params.dateFormat) }}</time></li>
        {{- if .Params.categories }}
        {{- range .Params.categories }}
        <li class="article-meta-categories">
          <a href="{{ "/" | relURL }}categories/{{ . | urlize }}/">
            <i class="fas fa-folder"></i>
            {{ . }}
          </a>&nbsp;
        </li>
        {{- end }}
        {{- end }}
        {{- if .Params.tags }}
        {{- range .Params.tags }}
        <li class="article-meta-tags">
          <a href="{{ "/" | relURL }}tags/{{ . | urlize }}/">
            <i class="fas fa-tag"></i>
            {{ . }}
          </a>&nbsp;
        </li>
        {{- end }}
        {{- end }}
      </ul>
      {{ partial "toc.html" . }}
      {{ .Content }}
    </article>

    {{- if .Params.series }}
    <section class="article-series">
      {{- $thispagefilepath := .File.Path }}
      {{- range .Params.series }}
      {{- $lseries := replaceRE "( |–)" "-" (lower .) }}
      <h2 class="series-title"><a href="{{ "/" | relURL }}series/{{ . | urlize }}/"><i class="fas fa-book"></i>&nbsp;{{ . }}</a></h2>
      <ol reversed="reversed" class="series">
      {{- range (index $.Site.Taxonomies.series $lseries).Pages.ByDate.Reverse }}
      {{- if eq $thispagefilepath .File.Path }}
        <li class="active">{{ .LinkTitle }}</li>
      {{- else }}
        <li><a href="{{ .Permalink | relURL }}">{{ .LinkTitle }}</a></li>
      {{- end }}
      {{- end }}
      </ol>
      {{- end }}
    </section>
    {{- end }}

    {{- if and .Site.DisqusShortname (or (not (isset .Params "comments")) (eq .Params.comments nil) .Params.comments) }}
    <div class="disqus-comments">
      {{ template "_internal/disqus.html" . }}
    </div>
    {{- end }}

    <ul class="pager article-pager">
      {{- if .NextInSection }}
      <li class="pager-newer">
          <a href="{{ .NextInSection.Permalink | relURL }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">&lt; Newer</a>
      </li>
      {{- else }}
      <li class="pager-newer pager-noitem">&lt; Newer</li>
      {{- end }}
      {{- if .PrevInSection }}
      <li class="pager-older">
        <a href="{{ .PrevInSection.Permalink | relURL }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">Older &gt;</a>
      </li>
      {{- else }}
      <li class="pager-older pager-noitem">Older &gt;</li>
      {{- end }}
    </ul>
  </div>
{{ end }}
