
<div class="site-footer">
  <div class="copyright">{{ .Site.Copyright | safeHTML }}</div>
  <ul class="site-footer-items">
    {{- if .RSSLink }}
    <li class="site-footer-item-rsslink">
      <a href="{{ .RSSLink | relURL }}" type="application/rss+xml" target="_blank" title="RSS">
        <i class="fas fa-rss"></i>
      </a>
    </li>
    {{- end }}
    {{- range .Site.Menus.footer }}
    <li class="site-footer-item-{{ .Identifier }}"><a href="{{ .URL | safeURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
    {{- end }}
  </ul>
</div>
<script src="{{ "js/script.js" | relURL }}"></script>
<script src="{{ "js/custom.js" | relURL }}"></script>
