<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  {{- if .IsHome }}
  <title>{{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }}" />
  {{- else }}
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}" />
  {{- end }}
  {{- with .Description | default .Params.subtitle | default .Summary }}
  <meta name="description" content="{{ . }}">
  <meta property="og:description" content="{{ . }}">
  {{- end }}
  <meta name="author" content="{{ .Site.Params.author.name }}"/>
  {{- with .Site.Params.favicon }}
  <link rel='icon' type='image/x-icon' href="{{ . | relURL }}" />
  {{- end }}
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:url" content="{{ .URL | relURL }}" />
  {{- if .IsPage }}
  <meta property="og:type" content="article" />
  {{- else }}
  <meta property="og:type" content="website" />
  {{- end }}
  {{- with default .Params.image | default .Site.Params.logo }}
  <meta property="og:image" content="{{ . | relURL }}" />
  {{- end }}
  {{- if .RSSLink }}
  <link href="{{ .RSSLink | relURL }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .RSSLink | relURL }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{- end }}
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" media="all" />
  <link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}" media="all" />
  <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}" media="all" />
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>
